html body {
  background-color: #ffffff;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://material-ui.com/components/grid/#negative-margin */
.main-grid-padding {
  padding: 40px;
}

.note-list-grid-padding {
  padding: 40px;
}

/*
  In the provided example the heading sizes
  were seemingly twice more than browser standard in
  Chrome and FF (or the scaling was 50% instead of
  25%), so I took the liberty to increase them as
  well within the application, because otherwise
  the 25% size preview would be unreadable.
 */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.34rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.66rem;
}

h6 {
  font-size: 1.34rem;
}
